<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mythos Hub</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
    <base href="/"></base>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
