<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
<script type="text/javascript"src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
<div data-ng-app="myth-references">
  <h1>References to Classical Mythology in Popular Culture</h1>
  <main data-ui-view></main>
</div>
