html {
  font-family: "Crimson Text", serif;
}

body {
  text-align: center;
}

nav, footer {
  background-color: #66023c;
}

form {
  margin-bottom: 3em;
}

.chip {
  opacity: 0.9;
}

.filter {
  margin-bottom: 2em;
}

.card-title {
  font-weight: bold;
  background: #000;
  opacity: 0.7;
}
