<h2>"{{showVM.reference.title}}" by {{showVM.reference.artist}}</h2>

<div>
  <p>{{showVM.reference.description}}</p>
  <p>Number of likes: {{showVM.reference.likes}}</p>
</div>


<form data-ng-if="showVM.admin">
  <input type="text" name="showVM.reference.title" value="showVM.reference.title" placeholder="Title" data-ng-model="showVM.reference.title">
  <input type="text" name="showVM.reference.artist" value="showVM.reference.artist" placeholder="Artist" data-ng-model="showVM.reference.artist">
  <textarea name="showVM.reference.description" value="showVM.reference.description" placeholder="Description" data-ng-model="showVM.reference.description"></textarea>
  <button data-ng-click="showVM.update()">Update</button>
  <button data-ng-click="showVM.delete()">Delete</button>
</form>
