<h2>Songs and Myths</h2>

<div data-ng-repeat="reference in indexVM.references">
  <p>"<a href="/myth-references/{{reference.title}}">{{reference.title}}" by {{reference.artist}}</a></p>
</div>

<form data-ng-if="indexVM.admin">
  <input type="text" name="indexVM.reference.title" data-ng-model="indexVM.reference.title" placeholder="Title">
  <input type="text" name="indexVM.reference.artist" data-ng-model="indexVM.reference.artist"placeholder="Artist">
  <textarea name="indexVM.reference.description" placeholder="Description" data-ng-model="indexVM.reference.description"></textarea>
  <input type="text" name="indexVM.reference.mediaUrl" data-ng-model="indexVM.reference.mediaUrl" placeholder="Media URL">
  <button data-ng-click="indexVM.create()">Add New</button>
</form>
